# atcBench/resources/output/*
cache.txt
venv
datasets/*
/unsupervised-is/resources/*
__pycache__/
*.pyc
*.pyo
*.pyd
.gitignore
/results/*/classificacao/output
/results/*/classificacao/logs
results/*/instance_selection/logs
results/*/instance_selection/selection
results/jina-v5/classificacao/logs_modernbert/*
_tmp_modernbert/*
tmp/*