numpy==2.4.6
pandas==3.0.3
scikit-learn==1.8.0
scipy==1.17.1
matplotlib==3.10.9
seaborn==0.13.2
tqdm==4.67.3
imbalanced-learn==0.14.1
nmslib==2.1.2
torch==2.3.0
joblib==1.5.3
narwhals==2.22.0
python-dateutil==2.9.0.post0
six==1.17.0
threadpoolctl==3.6.0